<h1>
    <img src="C:\Users\Chicas\Source\Repos\L02P02_2019AC603_2021CO601\imagen\Logo.png" alt="Imagen" class="centered-image">
    Creación de Libros
</h1>
<br />
<form>
   
    <div class="form-grooup row mb-4">
        <div class="col-sm-2">
            <label>Nombre del libro</label>
        </div>
        <div class="col-sm-4">
            @Html.TextBox("nombre","", new {@class="form-control"})
        </div>
        <div class="col-sm-2">
            @Html.Label("lblDescripcion","Descripcion")
        </div>
        <div class="col-sm-4">
            @Html.TextArea("descripcion","",new{@class="form-control", @placeHolder="Ingrese la descripcion"})
        </div>

        <div class="col-sm-2">
            <label>Precio</label>
        </div>
        <div class="col-4">
             @Html.TextBox("nombre", "", new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <label>Autor</label>
        </div>
        <div class="col-sm-4">

            @Html.DropDownList("id", ViewData["listaAutores"] as SelectList, "Seleccione un Autor", new {@class="form-control"})

        </div>
        <div class="col-sm-2">
            <label>Categoria o Genero</label>
        </div>
        <div class="col-sm-4">

            @Html.DropDownList("id", ViewData["listaCategoria"] as SelectList, "Seleccione una categoria", new { @class = "form-control" })

        </div>
    </div>
</form>
