<h1>
    <img src="C:\Users\Chicas\Source\Repos\L02P02_2019AC603_2021CO601\imagen\Logo.png" alt="Imagen" class="centered-image">
    Creación de Libros
</h1>
<br />
<form>
   

    <div class="container">
        <div class="row">
            <div class="col-md-7">


                <div class="form-grooup row mb-5">
                    <div class="col-sm-12">
                        <label>Nombre del libro</label>
                    </div>
                    <div class="col-sm-12">
                        @Html.TextBox("nombre", "", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("lblDescripcion", "Descripcion")
                    </div>
                    <div class="col-sm-12">
                        @Html.TextArea("descripcion", "", new { @class = "form-control", @placeHolder = "Ingrese la descripcion" })
                    </div>



                </div>

                <div class="form-grooup row mb-5">


                    <div class="col">
                        <label>Precio</label>

                        <div class="col-sm-12">
                            @Html.TextBox("precio", "", new { @class = "form-control" })
                        </div>

                    </div>



                    <div class="col">
                        <label>Autor</label>
                        <div class="col-sm-12">

                            @Html.DropDownList("id", ViewData["listaAutores"] as SelectList, "Seleccione un Autor", new { @class = "form-control" })

                        </div>
                    </div>


                    <div class="col">
                        <label>Categoria o Genero</label>
                        <div class="col-sm-12">

                            @Html.DropDownList("id", ViewData["listaCategoria"] as SelectList, "Seleccione una categoria", new { @class = "form-control" })

                        </div>
                    </div>

                </div>



            </div>

            <div class="col-md-5">


                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Seleccionar Imagen</h5>
                                    <div class="mb-3">
                                        <input type="file" id="inputImage" class="form-control" accept="image/*" onchange="previewImage(event)">
                                    </div>
                                </div>

                            </div>

                            <br />

                            <a class="btn btn-success col-md-12">
                                Guardar
                            </a>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    


</form>


<form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de libro</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var equipo in (IEnumerable<dynamic>) ViewData["ListadoLibros"])
            {
                <tr>
                    <td>@equipo.NombreLibro</td>
                    <td>@equipo.Descripcion</td>
                    <td>@equipo.Precio</td>
                    <td>@equipo.Autor</td>
                    <td>@equipo.Categoria</td>
                    <td><a class="btn btn-danger">Eliminar</a></td>
                </tr>
            }

        </tbody>
    </table>

</form>



<style>

    h1 {
        color: #007bff; 
        text-align: center; 
    }

    .centered-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
